@model IEnumerable<TeacherViewModel>

@{
    ViewData["Title"] = "Teacher List";
}
<a asp-action="Create" class="btn btn-success">Create New Teacher </a>
<table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(T => T.Name) </td>
            <td>@Html.DisplayNameFor(T => T.Subject)</td>
           
            <td>Details</td>
            <td>Update</td>
            <td>Delete</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var Teacher in Model)
        {
            <tr>
                <td>@Teacher.Name</td>
                <td>@Teacher.Subject</td>
                <partial name="_ButtonsPartialView" model="@Teacher.Id" />

            </tr>

        }
    </tbody>
</table>
